

.button-57 {
	position: relative;
	overflow: hidden;
	border: 1px solid #18181a;
	color: #18181a;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 9px 12px;
	bottom: 0;
	right: 0;
	text-decoration: none;
	cursor: pointer;
	background: #fff;
	width: fit-content;
	user-select: none;
	-webkit-user-select: none;
	text-align: center;
	touch-action: manipulation;
}

.button-57 span:first-child {
	display: block;
	position: relative;
	width: 100%;
	transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 10;
}

.button-57 span:last-child {
	color: white;
	display: block;
	position: absolute;
	box-sizing: border-box;
	padding: 9px 12px;
	bottom: 0;
	transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 100;
	opacity: 0;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translateY(225%) translateX(-50%);
	height: 100%;
	line-height: 13px;
}

.button-57:after {
	content: "";
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: grey;
	transform-origin: bottom center;
	transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
	transform: skewY(9.3deg) scaleY(0);
	z-index: 50;
}

.button-57:hover:after {
	transform-origin: bottom center;
	transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
	transform: translateX(-50%) translateY(-50%);
	opacity: 1;
	transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}



.button-46 {
	align-items: center;
	background-color: rgba(240, 240, 240, 0.26);
	border: 1px solid #DFDFDF;
	border-radius: 16px;
	box-sizing: border-box;
	color: #000000;
	cursor: pointer;
	display: flex;
	font-family: Inter, sans-serif;
	font-size: 18px;
	justify-content: center;
	line-height: 28px;
	max-width: 100%;
	padding: 14px 22px;
	text-decoration: none;
	transition: all .2s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
}

.button-46:active,
.button-46:hover {
  	outline: 0;
}

.button-46:hover {
	background-color: #ffffffe8;
	border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
	.button-46 {
		font-size: 20px;
		min-width: 200px;
		padding: 14px 16px;
	}
}