@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC'); */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto:ital,wght@1,500&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Alice', serif;
}

html, body, #root {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

